<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverList</key>
	<array>
		<dict>
			<key>serverName</key>
			<string>MI看书</string>
			<key>serverOnlyID</key>
			<string>8025</string>
			<key>serverIsEndble</key>
			<true/>
			<key>serverInfo</key>
			<string>服务器配置更新于：2020/08/28</string>
			<key>cateBooks</key>
			<array>
				<dict>
					<key>cateName</key>
					<string>玄幻奇幻</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwMzY5MjY4Mi8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10003</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10003&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>武侠仙侠</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzAyMjI5NC8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10100</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10100&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>都市生活</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL2ltZzEud3JpdGUucXEuY29tL3VwbG9hZC9jb3Zlci8yMDE2LTA0LTEwL2NiXzU3MGE2MmI2YTI4ZDIuanBn</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10011</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10011&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>历史军事</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwNDE4NTQ5Mi8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10118</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10118&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>游戏竞技</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL2ltZy4xN2suY29tL2ltYWdlcy9ib29rY292ZXIvMjAxNC80MjA5LzIxLzg0MTgyNi0xNDEyNDcyOTEwMDAwLmpwZw==</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10074</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10074&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>科幻未来</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzIyMjE2MS8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10120</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10120&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>末日危机</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzQ3MjE4NS8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10019</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10019&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>衍生同人</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwNDM2NTk0NC8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10322</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10322&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>轻小说</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwNTc4Nzk1NS8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10046</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10046&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>古代言情</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzQ4NjkxMi8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10104</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10104&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>现代言情</string>
					<key>cateCover</key>
					<string>https://img22.aixdzs.com/1d/6b/1d6b2bb263e9a23357711887b176ab04.jpg</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10103</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10103&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>幻想修仙</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzU0Njg5Ny8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10315</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10315&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>总裁豪门</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwMzQzMDk4MS8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10028</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10028&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>女尊女强</string>
					<key>cateCover</key>
					<string>https://img22.aixdzs.com/1d/6b/1d6b2bb263e9a23357711887b176ab04.jpg</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10106</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10106&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>异术超能</string>
					<key>cateCover</key>
					<string>https://img22.aixdzs.com/1d/6b/1d6b2bb263e9a23357711887b176ab04.jpg</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10036</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10036&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>虚拟网游</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzQ3MjAzOC8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10013</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10013&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>穿越奇情</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzY5MTczOS8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10339</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10339&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>重生异能</string>
					<key>cateCover</key>
					<string>http://r.m.du1du.org/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwMzcxNDI2My8xODA=</string>
					<key>cateFirstPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10112</string>
					<key>cateNextPageUrl</key>
					<string>https://www.mikanshu.com/show?orderBy=monthlyCount&amp;mainCategoryId=10112&amp;page=###</string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>cate_listDivision</key>
					<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>./a[2]</string>
						<key>cate_author</key>
						<string>./a[2]</string>
						<key>cate_desc</key>
						<string>./a[1]</string>
						<key>cate_cover</key>
						<string>./a[1]/@data-original</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>./a[2]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://www.mikanshu.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>searchBook</key>
			<dict>
				<key>searchFirstPageUrl</key>
				<string>https://www.mikanshu.com/search?searchString=@@@</string>
				<key>searchNextPageUrl</key>
				<string></string>
				<key>searchPageRequestType</key>
				<string>0</string>
				<key>search_listDivision</key>
				<string>//div[@class=&apos;fed-part-layout fed-back-whits&apos;]//dl</string>
				<key>search_URL_Unicode</key>
				<string>0</string>
				<key>search_list_Xpath</key>
				<string>1</string>
				<key>search_parser</key>
				<dict>
					<key>search_bookname</key>
					<string>.//h1[@class=&apos;fed-part-eone fed-font-xvi&apos;]/a</string>
					<key>search_author</key>
					<string>.//ul[@class=&apos;fed-part-rows&apos;]/li[4]/text()</string>
					<key>search_desc</key>
					<string>.//div[@class=&apos;fed-part-esan website-padding-right-1&apos;]/text()</string>
					<key>search_cover</key>
					<string>.//dt[@class=&apos;fed-deta-images fed-list-info fed-col-xs3&apos;]/a/@data-original</string>
					<key>search_coveraddString</key>
					<string></string>
					<key>search_coverendString</key>
					<string></string>
					<key>search_detailUrl</key>
					<string>.//dt[@class=&apos;fed-deta-images fed-list-info fed-col-xs3&apos;]/a/@href</string>
					<key>search_detailUrladdString</key>
					<string>https://www.mikanshu.com</string>
					<key>search_detailUrlendString</key>
					<string></string>
					<key>search_infoUrl</key>
					<string></string>
					<key>search_infoUrladdString</key>
					<string></string>
					<key>search_infoUrlendString</key>
					<string></string>
				</dict>
			</dict>
			<key>detailBook</key>
			<dict>
				<key>lastUpdateDate</key>
				<string></string>
				<key>detail_author</key>
				<string>//div[@class=&apos;fed-col-xs12 fed-col-sm8 fed-col-md9&apos;]//ul[@class=&apos;fed-part-rows&apos;]/li[2]/a</string>
				<key>detail_img_cover</key>
				<string></string>
				<key>detail_coveraddString</key>
				<string></string>
				<key>detail_coverendString</key>
				<string></string>
				<key>detail_desc</key>
				<string>//div[@class=&apos;fed-part-esan&apos;]/text()</string>
				<key>muluNeedSort</key>
				<true/>
				<key>mulu_list</key>
				<string>//div[@class=&apos;all_data_list&apos;]/ul[@class=&apos;fed-part-rows&apos;]/li</string>
				<key>mulu_title</key>
				<string>./a/text()</string>
				<key>mulu_url</key>
				<string>./a/@href</string>
				<key>mulu_url_addString</key>
				<string>https://www.mikanshu.com</string>
			</dict>
			<key>readBook</key>
			<dict>
				<key>chapterContent</key>
				<string>.//div[@class=&apos;rp-article bookContent&apos;]/p</string>
				<key>contentReplaces</key>
				<array>
					<dict>
						<key>章节缺失、错误举报</key>
						<string>=@=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
